.navbar-nav .nav-link {
    color: rgba(0,0,0,1) !important;
}

.navbar-nav .nav-link:hover {
    color: rgba(0,0,255,.5) !important;
}

body {
    font-family: 'Lato', sans-serif;
}

#blogtitle {
    font-size: 6rem;
}

@media (min-width: 992px) {
    #hometext {
        font-size: 4rem;
    }
    #blogdetailtitle {
        font-size: 5rem;
    }
}

div.stack-text {


    text-align: left;
    color: black;
    /*height: 7em;  !* не в % *!*/
    /*line-height: 7em; !* не поддерживается Opera Mini [opera.com] *!*/
    /*margin-bottom: 50%;*/
}

#steel {
  color: RGB(155,180,190);
  font-weight:bold
}