.navbar-nav .nav-link {
    color: rgba(0,0,0,1) !important;
}

.navbar-nav .nav-link:hover {
    color: rgba(0,0,255,.5) !important;
}

body {
    font-family: 'Lato', sans-serif;
}

#blogtitle {
    font-size: 6rem;
}

@media (min-width: 992px) {
    #hometext {
        font-size: 4rem;
    }
    #blogdetailtitle {
        font-size: 5rem;
    }
}

div.stack-text {
    text-align: left;
    color: black;
    height: 6em;  /* не в % */
    line-height: 6em; /* не поддерживается Opera Mini [opera.com] */
    margin-bottom: 50%;
}

#steel {
  color: RGB(155,180,190);
  font-weight:bold
}

/*.o-hide {*/
/*  display: none;*/
/*  transition: all ease 0.8s;*/
/*}*/

/*.o-hide:hover {*/
/*  display: block;*/
/*}*/

/*.oo-hide {*/
/*  display: block;*/
/*}*/

/*.oo-hide:hover {*/
/*  display: none;*/
/*  transition: all ease 0.8s;*/
/*}*/


.o-hide {
  display: none;
  transition: all ease 0.8s;
  vertical-align: top;
  vertical-align: text-top;
}

.o-hide:hover {
    color: #3489bd;
  /*display: block;*/

}

.oo-hide {
  display: block;
}

.oo-hide:hover {
  /*display: none;*/
    font-weight: 500;
    font-size: 22px;
    color: #8A2BE2;
    transition: all ease 0.8s;
}


body{
    font-family: 'Coiny', cursive;
}

.carousel-inner .carousel-caption{
    padding-bottom: 170px;
}
.carousel-inner .carousel-caption h1{s
    font-size: 52px;
}

.carousel-inner .carousel-caption .button{
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 50px;
    transition: 0.5s;
    border: 2px solid #3489bd;
    text-decoration: none;
    background-color: #3489bd;
    color: #3489bd;
}

/* animated css */
.animate__animated.animate__zoomIn{
    --animate-delay: 1.7s;
    --animate-duration: 1.2s
}
.animate__animated.animate__bounce{
    --animate-delay: 1s;
    --animate-duration: 1.5s
}

.animate__animated.animate__fadeInDown{
    --animate-delay: 1s;
    --animate-duration: 1.5s
}

.animate__animated.animate__fadeInRight
{
    --animate-delay: 1s;
    --animate-duration: 1.5s
}
